<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SST4500_1_0_0E.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SST4500_1_0_0E.My.MySettings>
            <setting name="_passwd_adm" serializeAs="String">
                <value>8cQ9BIFQa3hqcrxgbvPiOQ==</value>
            </setting>
            <setting name="_passwd_adm2" serializeAs="String">
                <value>LuGAQ7IevCcWdl5ledQ3iw==</value>
            </setting>
            <setting name="_passwd_adm2chg" serializeAs="String">
                <value>+fMH4XpJKNqwdZDUL0gFhg==</value>
            </setting>
            <setting name="_sgresultsave_path" serializeAs="String">
                <value />
            </setting>
            <setting name="_pfresultsave_path" serializeAs="String">
                <value />
            </setting>
            <setting name="_angpkgraph_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_angdpgraph_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_ratpkdpgraph_color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_ratmdcdgraph_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_velopkgraph_color" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="_velodpgraph_color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="_velomdgraph_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_velocdgraph_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_tsimdgraph_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_tsicdgraph_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_ctresultsave_path" serializeAs="String">
                <value />
            </setting>
            <setting name="_lgresultsave_path" serializeAs="String">
                <value />
            </setting>
            <setting name="_printmargin_left" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_printmargin_right" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_printmargin_top" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_printmargin_bottom" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="_angpkgraph_color3" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="_angdpgraph_color3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_ratpkdpgraph_color3" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_ratmdcdgraph_color3" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="_velopkgraph_color3" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="_velodpgraph_color3" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="_velomdgraph_color3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_velocdgraph_color3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_tsimdgraph_color3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="_tsicdgraph_color3" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="_printpreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_test_count1" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="_test_count2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_test_count1_prf" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="_test_count2_prf" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_test_count1_md" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="_test_count2_md" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="_timeout_time" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="_cmd_timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_feed_timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="_frm_MainForm_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MainMenu_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MainStatus_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MainStatusBorder_stl" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="_frm_MainButton_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MainButton_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MainForm_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MainMenu_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MainStatus_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MainLine_color" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="_frm_MeasForm_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MeasMenu_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MeasStatus_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MeasGraph_bc" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="_frm_MeasStatusBorder_stl" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="_frm_MeasForm_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MeasMenu_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MeasStatus_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MeasButton_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MeasButton_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_MeasuringButton_bc" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="_frm_MeasOldData_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_frm_MeasTextBox_bc" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="_frm_MeasCurData_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_frm_MeasGraphWaku_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_frm_PrfForm_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_PrfMenu_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_PrfStatus_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_PrfButton_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_PrfButton_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_PrfMeasuringButton_bc" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="_frm_PrfOldData_color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="_frm_PrfCurData_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_frm_PrfAvgData_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_frm_PrfTextBox_bc" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="_frm_PrfGraphWaku_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="_frm_PrfGraph_bc" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="_frm_PrfForm_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_PrfMenu_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_PrfStatus_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_PrfStatusBorder_stl" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="_frm_MeasMeasButton_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_MeasMeasButton_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_frm_PrfMeasButton_bc" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="_frm_PrfMeasButton_fc" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="_printbc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_dbf_setting" serializeAs="String">
                <value>ZefE6qmIJXCUZoW34Jn2SQ==</value>
            </setting>
            <setting name="_flg_dbf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_dbf_settingchg" serializeAs="String">
                <value>UGECfPzvYKIE7YyaMIXvbg==</value>
            </setting>
            <setting name="_flg_pchexp_visible" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_pchexp_setting" serializeAs="String">
                <value>lYyv/I1d8q8P9GOs/9wUpQ==</value>
            </setting>
            <setting name="_pchexp_settingchg" serializeAs="String">
                <value>L7qLA50XDjncGIiixtxvkQ==</value>
            </setting>
        </SST4500_1_0_0E.My.MySettings>
    </userSettings>
</configuration>